html, body{
    margin: 0px;
    width: 100%;
    background-color: #131419;
    height:fit-content;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

h3{
    font-weight: bold;
}

p{
    font-size: 1em;
}

.top-menu{
    width: 100%;
    height: 75px;   
    display:flex;
    position: fixed; top: 0;
    background-color:#131419;
    border-radius: 0px 0px 10px;
    z-index: 10;
    box-shadow: -5px -5px 10px 10px rgba(255, 255, 255, 0.39);
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.76);
}

.img-logo{
    justify-content: flex-start;
    height: 75px;
}

.items-top-menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color:#131419;
    position: relative;
    padding: 25px;
    overflow: hidden;
}

.items-top-menu ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.items-top-menu li{
    content: "";
}

.top-link{
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}

.top-link:hover{
    color: #d53118;
    text-decoration: none;
}

.top-image{
    margin: 0px;
    height: 300px;
    width: 100%;
    background-image: url(img/topfondo2.jpg);
    background-position:top;
    background-position: center center;
    background-size:cover;
    background-color: #ffffff;
}

/*##################### Top menu #####################*/
.principal-menu{
    display: flex;
    height: 40px;  
    width: auto;
    padding: 0px;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

ul{
    padding: 0px;
    margin: 0px;
}

li{
    display: flex;
}
    
.principal-menu ul{
    display: flex;
    width: 100%;
    height: 35px;
    position: relative;
}

.principal-menu li{
    padding-top: 5px;
    display: flex;
    width: 100%;
    margin: 2px;
    overflow: hidden;
    border-radius: 2px;
}
    
.li-link{
    position: relative;
}

.mid-link{
    text-decoration: none;
    color: #000000;
}

.mid-link:hover{
    text-decoration: none;
    color: #ffffff;
}

.menu-link{
    padding: 2.5px;
    background-color: #ffffff; 
    width: 100%;
    cursor: pointer;
}
    
.menu-link:hover{
    background-color: #d53118;
    width: 100%;
}

/*##################### middle video and background-images slider #####################*/
.prototype-slider{
    display: flex;
    position: relative;
    margin: 0;
    height: 700px;
    width: 100%;
    background-position: center center;
    background-size:cover;
    object-fit: cover;
    justify-content: center;
}

.image-slider{
    width: 100%;
    position: relative;
}

.vid-1{
    position: absolute;
    margin: 0;
    height: 80%;
    width: 100%;
    align-self: center;
    border-radius: 10px;
    transform: scale(0.8);
    object-fit: cover;
}

.slider-vids{
    position: absolute;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
}

.slider-vids li{
    display: flex;
    width: 15%;
    height: 34%;
    justify-content: center;
    object-fit: cover;
    transform: skew(10deg,0deg);
    background-color: none;
}

.slider-vids li video{  
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
    transform: skew(10deg,0deg);
}

.slider-vids li video:hover{
    cursor: pointer;
    width: 110%;
    height: 120%;
    transition: 0.2s;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
    transform: skew(10deg,0deg);
    margin: 0 10% 0 0 ;
    transition: 400ms ease;
}

/*#######################################################################################*/

.index-vid{
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

/*the border circle before putting pointer*/
/*
div .slider-vids li video .center{
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #F8F8FF;
    cursor: pointer;
    z-index: 100;
}

div .slider-vids li video .center:hover{
    position: relative;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color:#DAA520 #F8F8FF;
    animation: sliderBorderA 10s linear infinite;
    transition: all 3.0s ease-out;
}

/*circle border animation*/
@keyframes sliderBorderA{
    from{border-color:"red";
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*
.presentation{
    display: flexbox;
    border: 10px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
################################################################################*/

.intersection{
    width: 100%;
    height: 100px;
    background-color: #131419;
    position: relative;
    display: flex;
}

/*##################### News Cards #####################*/
.grid-content{
    width: 100%;
    height: 600px;
    min-height: fit-content;
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: white;
    overflow: hidden;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3rem;
}

.grid-content .news-title{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-self: center;
}

.grid-content .news-content{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: auto auto 40%;
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

/*Content inside each cell*/
.news-content .news-items{
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 2px;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    background-size:cover;
}

.news-items:hover{
    content: "";
}

.news-content .news-items:nth-child(1){
    width: 100%;
    grid-column: 3/ 5;
    grid-row: 1/ 3;  
    padding: 0;
}

.news-content iframe{
    width: 100%;
    height: 100%;
}   

.news-content img{
    object-fit: cover;
    display: flex;
    width: 100%;
    cursor: pointer;
}

/*information inside each news card, with his respective animation*/
.news-items .news-information{
    padding: 2% 0 0 5%;
    bottom:130%;
    position: relative;
    color: white;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(
        hsl(0 0% 0%/0.2) 10%,
        hsl(0 0% 0%/0.3) 20%,
        hsl(0 0% 0%/1)    
    );
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform:translateY(45%);
    transition: transform 500ms ease;
}

.news-items:hover .news-information{
    transform:translateY(20%);
    transition-delay: 500ms;
}

.card-tittle{
    position: relative;
    width: 80%;
}

/*Card tittle animation*/
.card-tittle::after{
    content: "";
    height: 3.2px;
    width: 100%;
    background-color: #F1B71A;
    position: absolute;
    left: 0;
    bottom: -1%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.news-items:hover .card-tittle::after{
    transform: scaleX(1);
}

/*#####################Modal, full screen news cards images#####################*/
.modal{
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto; 
    display: flex; 
    z-index: 3;  
    justify-content: center;
    align-items: center;
    opacity: 0; /*Hide the popup content*/
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}

.full-modal-img{
    position: relative;
    justify-content: center;
    height: 80%;
    width: auto;
    transform: scale(0.9);
    transition: all 0.15s;
}

.full-modal-img.lng{
    transform: scale(1.5);
}

.modal .caption{
    position: absolute;
    color: #ffffff;
    width: fit-content;
    height: 100%;
    font-size: 1.2rem;
    top:88%
}

/*############################ Weekly cards ############################*/

.weekly-container{
    width: 100%;
    height: 600px;
    min-height: fit-content;
    display: flex;
    position: relative;
    background-color: #ffffff;
}

.weekly-title{
    width: 100%; 
    height: 15%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    position: absolute;
    padding-top: 3%;
}

.weekly-container .cards-container{
    height: 85%;
    width: 100%;
    display: flex;
    position: relative;
    top: 15%;
    justify-content: space-around;
    padding-top: 4%;
}

.cards-container .weekly-cards{
    height: 80%;
    width: 25%;
    position: relative;
    overflow: hidden;/*modificate for the animation*/
    border-radius: 5px;
    border-style: solid;
}

.cards-container img{
    cursor: pointer;
}

/*information inside each weekly card, with his respective animation*/
.weekly-cards .news-information{
    padding: 2% 0 0 5%;
    bottom:70%;
    position: relative;
    color: white;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(
        hsl(0 0% 0%/0.2) 10%,
        hsl(0 0% 0%/0.3) 20%,
        hsl(0 0% 0%/1)    
    );
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform:translateY(45%);
    transition: transform 500ms ease;
}

.weekly-cards:hover .news-information{
    transform:translateY(30%);
    transition-delay: 500ms;
}

.weekly-cards:hover .card-tittle::after{
    transform: scaleX(1);
}


/*
.poring-world{
    margin-left: 5px;
    display: flex;
    width: 100%;
    background-color: lawngreen;
}

/*############################ Footer ############################*/

footer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    box-shadow: -5px -5px 10px 10px rgba(255, 255, 255, 0.39);
    box-shadow: 5px 5px 15px 15px rgba(0, 0, 0, 0.76);
    border-radius: 10px;
}


footer .redes{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.redes ul{
    display: flex;
    text-decoration: none;
}

.media-items a{
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    padding: 25px;
}

.media-items a:hover{
    color: #d53118;
}


/*##########################################################*/
/*##################### Mobile section #####################*/
/*##########################################################*/

@media screen and (max-width:1200px){
        /*##### Remove News-Card info animation #####*/
        .news-items .news-information{
            padding: 2% 0 0 5%;
            bottom:40%;
            position: relative;
            color: white;
            z-index: 1;
            font-family: 'Times New Roman', Times, serif;
            background: linear-gradient(
                hsl(0 0% 0%/0.2) 20%,
                hsl(0 0% 0%/0.3) 20%,               
            );
            width: 100%;
            height: 100%;
            cursor: pointer;
            transform:none;
            transition: none;
        }
        
        .news-items:hover .news-information{
            transform:none;
        }
        
        .card-tittle{
            position: relative;
            width: 100%;
            bottom: 5%;
        }
        
        /*Card tittle animation*/
        .card-tittle::after{
            content: none;
        }
        
        .news-items:hover .card-tittle::after{
            content: none;
        }
        
}

@media screen and (max-width:768px){
    /*##### top menu #####*/
    .items-top-menu{
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #ffffff;
        background-color: #131419;
        display: flex;
        margin-left: auto;
        justify-content: space-around;
        position: relative;
        overflow: visible;
    }

    .hamburguer-menu-container{
        display: flex;
        position: relative;
        justify-content: flex-end;
        bottom: 50%;
        width: 100%;
        height: 100px;
    }

    .hamburguer-menu-container img{
        width: 50px;
        height: 50px;
        position: absolute;
        cursor: pointer;
    }
    
    .ul-top-menu{
        top: 100%;
        position:absolute;
        display: flex;
        height: 640px;
        width: 100%;
        background-color: #131419;
        transition: all .5s;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transform: translateX(100%);
        transition: 500ms ease;
    }

    .active-hamburguer{
        transform: translateX(0%);
        opacity: 0.9;
    }
    
    .ul-top-menu .li-top-menu{
        position: relative;
        height: 100px;
        justify-content: center;
        opacity: 1;
        line-height: 30px;
        transition: all .5s;
        padding: 30px 0 0;
        bottom: 30%;
    }

    .li-top-menu a{
        letter-spacing: 1px; 
    }

    /*##### Principal menu #####*/
    .principal-menu ul{
        flex-wrap: wrap;
    }

    /*##### Principal videos #####*/
    .prototype-slider{
        height: 450px;
        margin-top: 105px;
    }
    .slider-vids{
        top: 35%;
    }
    .slider-vids li{
        width: 80px;
        height: 120px;
    }

    /*##### Grid modifications for modible #####*/
    .grid-content .news-content{
        width: 100%;
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: repeat(auto-fit, 1fr);
    }

    .news-content .news-items:nth-child(1){
        grid-column: 1/ span 2;
        grid-row: 1/ span 2;
    }

    /*##### Remove News-Card info animation ##### ----------------------------------------------*/
    .news-items .news-information{
        bottom:55%;
    }

    
    /*##### Modificate weekly cards position #####*/
    .weekly-container .cards-container{
        top: 10%;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .cards-container .weekly-cards{
        width: 100%;
        height: 32%;
        position: relative;
        overflow: hidden;/*modificate for the animation*/
        border-radius: 5px;
        border-style: solid;
    }

    /*##### Remove Weekly-Card info animation #####*/
    .weekly-cards .news-information{
        padding: 2% 0 0 5%;
        top:-190%;
        position: relative;
        color: white;
        z-index: 1;
        font-family: 'Times New Roman', Times, serif;
        background: linear-gradient(
            hsl(0 0% 0%/0.2) 10%,
            hsl(0 0% 0%/0.3) 20%,
            hsl(0 0% 0%/1)    
        );
        width: 100%;
        height: 100%;
        cursor: pointer;
        transform:none;
        transition: none;
    }

    .weekly-cards:hover .news-information{
        transform:none;
        transition-delay: none;
    }

    /*##### Foother #####*/
    .media-items a{
        font-size: 30px;
    }
}


/*Repair news-cards for mobile*/